/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */
.shadow-typo{
    position:relative;
    display: inline-block;
    text-transform: uppercase;

    color:teal;
    font-family: cursive;
    font-size: 6rem;
    text-shadow: 3px 3px  1px rgb(217, 255, 0), 8px 8px 0px rgba(0,0,0,0.1);
}

.threedee-typo{
    font-size: 6rem;
    text-transform: relative;
    color:violet;
    margin-top:10px ;
    -webkit-transform: skew(-5deg , -5deg) rotate(5deg);
            transform: skew(-5deg , -5deg) rotate(5deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    text-shadow: 1px 1px #d10e31,
                 2px 2px #d10e31,
                 3px 3px #d10e31,
                 4px 4px #d10e31,
                 5px 5px #d10e31,
                 6px 6px #d10e32,
                 7px 7px #d10e32,
                 8px 8px hsl(50,100%,50%),
                 9px 9px hsl(40,100%,40%),
                 8px 8px hsl(30,100%,30%),
                 10px 10px hsl(20,100%,20%),
                 11px 11px hsl(10,100%,10%);
}  