

/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */
.mario-block{
   display: inline-block;
   position:relative;
   margin:80px auto;
   width:16em;
   height:16em;

}


#wahoo{
    outline:none;
}

#wahoo:active+.mario-block{
    animation: wahooframes 0.8s ease-in-out 1;

}

@keyframes wahooframes{
  0%{left:0; bottom: 0; transform: rotate(0);}
  30%{left:200px; bottom: 200px; transform: rotate(-25deg);}
  80%{left:0; bottom: 0; transform: rotate(0);}
  100%{left:400px; bottom: 0; }
}
.mario{
    display:block;
    width:1em;
    height: 1em;
    background-color: #e7eefe;
    box-shadow: 0em 0em #e7eef1,
                1em 0em #e7eef1,
                2em 0em #e7eef1,
                3em 0em #e7eef1,
                4em 0em #e7eef1,
                5em 0em #e7eef1,
                6em 0em #e7eef1,
                7em 0em #e7eef1,
                8em 0em #e7eef1,
                9em 0em #e7eef1,
                10em 0em #e7eef1,
                11em 0em #e7eef1,
                12em 0em #e7eef1,
                13em 0em #e7eef1,
                14em 0em #e7eef1,
                15em 0em #e7eef1,

                1em 1em #e7eef1,
                2em 1em #e7eef1,
                3em 1em #e7eef1,
                4em 1em #e7eef1,
                5em 1em #e7eef1,
                
                
                6em 1em red,
                7em 1em red,
                8em 1em red,
                9em 1em red,

                10em 1em #e7eef1,
                11em 1em #e7eef1,
                12em 1em #ffc966,
                13em 1em #ffc966,
                14em 1em #ffc966,
                15em 1em #ffc966,


                1em 2em #e7eef1,
                2em 2em #e7eef1,
                3em 2em #e7eef1,
                4em 2em #e7eef1,
                5em 2em #e7eef1,
                
                
                6em 2em red,
                7em 2em red,
                8em 2em red,
                9em 2em red,

                10em 2em #e7eef1,
                11em 2em #e7eef1,
                12em 2em #ffc966,
                13em 2em #ffc966,
                14em 2em #ffc966,
                15em 2em #ffc966;
                
            
}
